.bicicletas-lista {
  padding-top: 3.75rem;
  padding-bottom: 7.5rem;
}
.bicicletas-lista ul {
  display: flex;
  gap: 2.5rem;
  max-width: 1400px;
  margin: 0 auto;
}
.bicicletas-lista h2 {
  margin-bottom: 2rem;
}
.bicicletas-lista a {
  display: block;
}
.bicicletas-lista img {
  margin-bottom: 1rem;
}
.bicicletas-lista h3 {
  margin-bottom: 0.5rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.bicicletas-lista h3::before {
  content: "";
  width: 12px;
  height: 8px;
  background-color: var(--cor-P1);
  display: inline-block;
}
.bicicletas-lista li span {
  padding-left: 1.25rem;
  color: var(--cor-c7);
}
